{{- $role := promptStringOnce . "role" "Machine role (personal-laptop/work-laptop/server)" -}}
{{- $hostname := .chezmoi.hostname -}}

[data]
    role = {{ $role | quote }}
    hostname = {{ $hostname | quote }}
