CLAUDE.md
scripts
.oh-my-zsh/cache/completions
.oh-my-zsh/cache/grep-alias

# Ranger runtime data (modified by ranger at runtime, extracted from archive)
.local/share/ranger/bookmarks
.local/share/ranger/history
.local/share/ranger/tagged
.local/share/ranger/**/__pycache__

{{- if ne .role "work-laptop" }}
.local/bin/ranger
{{- end }}
