# Sway config
# Read `man 5 sway` for a complete reference.

### Variables
#
# Logo key. Use Mod1 for Alt.
set $mod Mod4
# Home row direction keys, like vim
set $left h
set $down j
set $up k
set $right l
set $scripts /home/diego/.config/sway

# Your preferred terminal emulator
{{ if eq .role "personal-laptop" -}}
set $term alacritty
{{ else if eq .role "work-laptop" -}}
set $term foot
{{ end }}
# Your preferred application launcher
{{ if eq .role "personal-laptop" -}}
for_window [app_id="^launcher$"] floating enable, sticky enable, resize set 30 ppt 60 ppt, border pixel 10
set $menu exec $term --class=launcher -e env FZF_DEFAULT_OPTS="--layout=reverse" sway-launcher-desktop
{{ else if eq .role "work-laptop" -}}
for_window [app_id="^launcher$"] floating enable, sticky enable, resize set 30 ppt 60 ppt, border pixel 10
set $menu exec $term -a launcher -e env FZF_DEFAULT_OPTS="--layout=reverse" TERMINAL_COMMAND="foot -e" sway-launcher-desktop.sh
{{ end }}

##############################################################################
# MACHINE-INDEPENDENT
##############################################################################

### Output configuration
output * bg /home/diego/background.png fill #F7ECD6

### Input configuration
input * {
    repeat_delay 300
    repeat_rate 30
    xkb_options caps:swapescape,compose:ralt
    xkb_layout us,fr
    tap enabled
    middle_emulation enabled
}

### Window rules
# Firefox picture-in-picture
for_window [title="Picture-in-Picture"] floating enable, sticky enable, resize set 640 px 360 px
# Firefox notification popups have an empty title
for_window [app_id="firefox-esr" title="^$"] floating enable

### Key bindings
#
# Basics:
    # Start a terminal
    bindsym $mod+Return exec $term

    # Kill focused window
    bindsym $mod+Shift+q kill

    # Start your launcher
    bindsym $mod+d exec $menu

    # Drag floating windows by holding down $mod and left mouse button.
    # Resize them with right mouse button + $mod.
    # Despite the name, also works for non-floating windows.
    # Change normal to inverse to use left mouse button for resizing and right
    # mouse button for dragging.
    floating_modifier $mod normal

    # Reload the configuration file
    bindsym $mod+Shift+c reload

    # Lock
    bindsym $mod+Shift+x exec swaylock

    # Sticky toggle
    bindsym $mod+shift+s sticky toggle

    # Get window info
    bindsym $mod+question exec "$scripts/swayprop | xargs -0 notify-send"

    # Screenshots
    bindsym Print       exec grim -g "$(slurp -d)" - | wl-copy  # custom region
    bindsym $mod+Print  exec ~/.config/sway/screenshot-focused.sh
    bindsym alt+Print   exec XDG_CURRENT_DESKTOP=sway flameshot gui -r | wl-copy  # Alternatively use flameshot
    bindsym shift+Print exec grim - | wl-copy  # fullscreen
    bindsym Ctrl+Print  exec grim -g "$(slurp -p)" -t ppm - | convert - -format '%[pixel:p{0,0}]' txt:- | tail -n 1 | cut -d " " -sf 4 | wl-copy --trim-newline

# Special keys:
# Keys names can be found with   xev -event keyboard
    bindsym --locked XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
    bindsym --locked XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
    bindsym --locked XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
    bindsym --locked XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
    bindsym --locked XF86MonBrightnessDown exec brightnessctl set 5%-
    bindsym --locked shift+XF86MonBrightnessDown exec brightnessctl set 1%-
    bindsym --locked XF86MonBrightnessUp exec brightnessctl set +5%
    bindsym --locked shift+XF86MonBrightnessUp exec brightnessctl set +1%
    bindsym --locked XF86AudioPrev exec playerctl previous
    bindsym --locked XF86AudioPlay exec playerctl play-pause
    bindsym --locked XF86AudioNext exec playerctl next

# Moving around:
    bindsym $mod+$left focus left
    bindsym $mod+$down focus down
    bindsym $mod+$up focus up
    bindsym $mod+$right focus right
    # Or use $mod+[up|down|left|right]
    bindsym $mod+Left focus left
    bindsym $mod+Down focus down
    bindsym $mod+Up focus up
    bindsym $mod+Right focus right

    # Move the focused window with the same, but add Shift
    bindsym $mod+Shift+$left move left
    bindsym $mod+Shift+$down move down
    bindsym $mod+Shift+$up move up
    bindsym $mod+Shift+$right move right
    # Ditto, with arrow keys
    bindsym $mod+Shift+Left move left
    bindsym $mod+Shift+Down move down
    bindsym $mod+Shift+Up move up
    bindsym $mod+Shift+Right move right

# Workspaces:
    # workspace_auto_back_and_forth yes
    # Switch to workspace
    bindsym $mod+1 workspace number 1
    bindsym $mod+2 workspace number 2
    bindsym $mod+3 workspace number 3
    bindsym $mod+4 workspace number 4
    bindsym $mod+5 workspace number 5
    bindsym $mod+9 workspace number 9
    bindsym $mod+0 workspace number 10
    # Move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace number 1
    bindsym $mod+Shift+2 move container to workspace number 2
    bindsym $mod+Shift+3 move container to workspace number 3
    bindsym $mod+Shift+4 move container to workspace number 4
    bindsym $mod+Shift+5 move container to workspace number 5
    bindsym $mod+Shift+9 move container to workspace number 9
    bindsym $mod+Shift+0 move container to workspace number 10

# Layout:
    # You can "split" the current object of your focus with
    # $mod+b or $mod+v, for horizontal and vertical splits
    # respectively.
    bindsym $mod+b splith
    bindsym $mod+v splitv

    # Switch the current container between different layout styles
    bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split

    # Make the current focus fullscreen
    bindsym $mod+f fullscreen

    # Toggle the current focus between tiling and floating mode
    bindsym $mod+Shift+space floating toggle

    # Swap focus between the tiling area and the floating area
    bindsym $mod+space focus mode_toggle

    # Move focus to the parent container
    bindsym $mod+a focus parent

# Scratchpad:
    # Move the currently focused window to the scratchpad
    bindsym $mod+Shift+minus move scratchpad

    # Show the next scratchpad window or hide the focused scratchpad window.
    # If there are multiple scratchpad windows, this command cycles through them.
    bindsym $mod+minus scratchpad show

# Scaling of the current output:
bindsym $mod+Control+1 exec swaymsg output $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') scale 1
bindsym $mod+Control+2 exec swaymsg output $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') scale 1.25
bindsym $mod+Control+3 exec swaymsg output $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') scale 1.5
bindsym $mod+Control+4 exec swaymsg output $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') scale 2

# Move workspace to the next output
bindsym $mod+x exec "swaymsg -t get_outputs |jq '[.[] | select(.active == true)] | .[(map(.focused) | index(true) + 1) % length].name' |xargs swaymsg move workspace to"

# Resize mode
mode "resize" {
    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    # Ditto, with arrow keys
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    # Same with 100px for bigger steps
    bindsym shift+$left resize shrink width 100px
    bindsym shift+$down resize grow height 100px
    bindsym shift+$up resize shrink height 100px
    bindsym shift+$right resize grow width 100px

    # Ditto, with arrow keys
    bindsym shift+Left resize shrink width 100px
    bindsym shift+Down resize grow height 100px
    bindsym shift+Up resize shrink height 100px
    bindsym shift+Right resize grow width 100px

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

### Status Bar
# Read `man 5 sway-bar` for more information about this section.
{{ if eq .role "personal-laptop" -}}
bar {
    swaybar_command waybar
}
# Toggle waybar
bindsym $mod+Shift+b exec pkill -USR1 waybar
{{ else if eq .role "work-laptop" -}}
bar {
    position top

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command while date +'%Y-%m-%d %X'; do sleep 1; done

    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c
    }
}
{{ end -}}

### Visual
default_border pixel
hide_edge_borders both
set $bg_1 #1D2021
set $bg_2 #282828
set $fg #f3f3f3
set $fg_1 #EBDBB2
set $blue #5ad4e6
set $green #B7FFB7
set $purple #948AE3
set $accent $purple
# class                 border  bground text    indicator child_border
client.focused          $accent $accent $fg     $accent   $accent
client.focused_inactive $bg_2   #5F676A $fg     #484E50   #5F676A
client.unfocused        $bg_2   #282828 #aaaaaa #292D2E   #222222
client.urgent           #2F343A #CC241D $fg_1   #CC241D   #CC241D
client.placeholder      #1D2021 #0C0C0C $fg     #000000   #0C0C0C

### Environment setup
# For screen recording in firefox/discord
# See https://github.com/emersion/xdg-desktop-portal-wlr#running
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

### Chat workspace
set $chat_workspace 9
assign [app_id="org.telegram.desktop"] workspace $chat_workspace
assign [app_id="signal"] workspace $chat_workspace
assign [app_id="rambox"] workspace $chat_workspace
# assign [app_id="Slack"] workspace 9  # Doesn't work
# Though this does:
for_window [app_id="Slack"] move container to workspace $chat_workspace


##############################################################################
# PERSONAL LAPTOP
##############################################################################
{{ if eq .role "personal-laptop" }}
# Scale Framework display
output eDP-1 scale 1.25

# idle management
exec swayidle -w \
         timeout 300 'swaylock -f -c 000000' \
         timeout 1200 'systemctl hibernate' \
         before-sleep 'swaylock -f -c 000000'

# Emoji picker
for_window [app_id="^emojipicker$"] floating enable, sticky enable, resize set 80 ppt 60 ppt, border pixel 10
set $emojipicker exec ~/.config/sway/emoji-picker.sh
bindsym $mod+shift+e exec $emojipicker

# Speech to text
for_window [app_id="^speech2text$"] floating enable, sticky enable, resize set 35 ppt 14 ppt, border pixel 5, move position 510 815
bindsym XF86AudioMedia exec $term --class "speech2text" --command uv run --project=prog/scripts prog/scripts/scripts/2text

# Neutralinojs launcher
bindsym shift+XF86AudioMedia exec /home/diego/prog/launcher-neutralinojs/dist/launcher-neutralinojs/launcher-neutralinojs-linux_x64

# Amazing Marvin floating window
for_window [title="Amazing Marvin : Top of Mind"] floating enable, sticky enable, resize set 220 px 50 px, move position 340 px -35 px
for_window [title="Pygame window"] floating enable

# Clipboard manager
exec copyq
for_window [app_id="com.github.hluk.copyq"] floating enable, resize set 30 ppt 60 ppt
bindsym $mod+shift+v exec copyq toggle
bindsym $mod+shift+ctrl+v exec pkill copyq || copyq

# Timer
bindsym $mod+t exec pucoti2
bindsym $mod+shift+t exec pucoti 20m
for_window [title="^PUCOTI$"] floating enable, sticky enable
for_window [title="^Pucoti$"] floating enable, sticky enable

# OBS recording
bindsym $mod+shift+Print exec obs-cli recording toggle

# Anki
bindsym $mod+Shift+a exec anki

# Apps
exec logseq --enable-features=UseOzonePlatform --ozone-platform=wayland
exec amazingmarvin --no-sandbox --enable-features=UseOzonePlatform --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto
exec beeper --enable-features=UseOzonePlatform --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto
assign [title="Beeper"] workspace $chat_workspace
assign [title="Marvin"] workspace 10

# Daemons and applets
exec systemctl --user start focus-helper.service
exec iwgtk -i
exec blueman-applet
exec syncthingtray-qt6 --wait
exec udiskie --tray
exec pucoti2

# Notification daemon
exec swaync
bindsym $mod+Shift+Return exec swaync-client -t -sw

# Battery signal
exec batsignal -b -w 20 -c 10 -d 5 -D "swaylock -i /home/diego/.config/sway/no-more-battery.png"

# Night color filter
exec gammastep
{{ end -}}

##############################################################################
# WORK LAPTOP
##############################################################################
{{ if eq .role "work-laptop" }}
{{ end -}}

include /etc/sway/config.d/*
