#!/bin/bash

# This script translates to french or english using the deepl API.

function usage {
    echo "Usage: $0 [-l|--language <language>] <file>"
    echo "  -l|--language  Language to translate to. Default: en"
    echo "  -h|--help      Show this help message"
}

# Parse arguments
while [[ $# -gt 0 ]]; do
    case "$1" in
        -h|--help)
            usage
            exit 0
            ;;
        -l|--language)
            LANGUAGE="$2"
            shift
            shift
            ;;
        *)
            FILE="$1"
            shift
            ;;
    esac
done

# Set defaults
LANGUAGE=${LANGUAGE:-fr}

# If no file is specified, prompt the user for input,
# defaulting to the last text in the clipboard (using wl-clipboard)
# using a graphical dialog
if [[ -z "$FILE" ]]; then
    # Use a vim text entry dialog, defaulting to the clipboard
    FILE=/tmp/translate-$(date +"%Y-%m-%d-%H-%M-%S").txt
    wl-paste > "$FILE"
    echo "$LANGUAGE" >> "$FILE"
    nvim "$FILE"
fi

TEXT=$(cat "$FILE")

# if the last line is two letters (i.e. "fr" or "en")
# use this as the language
LAST_LINE=$(echo "$TEXT" | tail -n 1)
if [[ "$LAST_LINE" =~ ^[a-z]{2}$ ]]; then
    LANGUAGE=$(echo "$LAST_LINE" | tr '[:upper:]' '[:lower:]')
    TEXT=$(echo "$TEXT" | head -n -1)
fi

# Print in yellow
echo -e "\e[33m$TEXT\e[0m"
echo "Translating to $LANGUAGE"

# %-encode the text
ENCODED_TEXT=$(echo "$TEXT" | jq -sRr @uri)

TRANSLATION=$(curl -X POST 'https://api-free.deepl.com/v2/translate' \
	-H 'Authorization: DeepL-Auth-Key {{ (bitwarden "item" "deepl-api-key").login.password }}' \
	-d "text=$ENCODED_TEXT" \
	-d "target_lang=$LANGUAGE" | jq -r '.translations[0].text')

# Print in green
echo -e "\e[32m$TRANSLATION\e[0m"

# Copy to clipboard
echo "$TRANSLATION" | wl-copy

# Notify
notify-send "Translation" "$TRANSLATION"
